@import "~/.config/themes/current/colors.rasi"
@import "~/.config/rofi/font.rasi"

* {
    background-color: transparent;
    text-color: @fg1;
    foreground: @fg1;
    normal-foreground: @fg1;
}

window {
    background-color: @bg0;
    border: 2px;
    border-color: @orange;
    border-radius: 0px;
    width: 340px;
    padding: 14px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ inputbar, listview ];
    spacing: 10px;
}

inputbar {
    background-color: @bg1;
    border-radius: 0px;
    padding: 8px 12px;
    spacing: 8px;
    children: [ prompt, entry ];
}

prompt {
    text-color: @yellow;
    font: "JetBrainsMono Nerd Font Bold 12";
}

entry {
    placeholder: "Filter...";
    placeholder-color: @gray;
    text-color: @fg1;
    cursor: text;
}

listview {
    lines: 4;
    spacing: 4px;
    scrollbar: false;
    cycle: true;
    dynamic: true;
    layout: vertical;
}

element {
    padding: 8px 12px;
    border-radius: 0px;
    background-color: transparent;
    text-color: @fg1;
    cursor: pointer;
}

element normal.normal {
    background-color: transparent;
    text-color: @fg1;
}

element selected.normal {
    background-color: @bg1;
    text-color: @yellow;
}

element alternate.normal {
    background-color: transparent;
    text-color: @fg1;
}

element-text {
    vertical-align: 0.5;
    background-color: transparent;
    text-color: inherit;
    cursor: inherit;
}
