@import "~/.config/themes/current/colors.rasi"
@import "~/.config/rofi/font.rasi"

* {
    background-color: transparent;
    text-color: @fg1;
    foreground: @fg1;
    normal-foreground: @fg1;
}

window {
    background-color: @bg0;
    border: 2px;
    border-color: @orange;
    border-radius: 1px;
    width: 820px;
    padding: 16px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ inputbar, listview ];
    spacing: 12px;
}

inputbar {
    background-color: @bg1;
    border-radius: 1px;
    padding: 8px 12px;
    spacing: 8px;
    children: [ prompt, entry ];
}

prompt {
    text-color: @yellow;
    font: "JetBrainsMono Nerd Font Bold 11";
}

entry {
    placeholder: "Search wallpaper...";
    placeholder-color: @gray;
    text-color: @fg1;
}

listview {
    columns: 3;
    lines: 2;
    cycle: true;
    dynamic: true;
    layout: vertical;
    flow: horizontal;
    spacing: 12px;
    scrollbar: false;
}

element {
    orientation: vertical;
    padding: 8px;
    border: 2px;
    border-color: transparent;
    border-radius: 1px;
    background-color: @bg1;
    text-color: @fg1;
    cursor: pointer;
}

element normal.normal {
    background-color: @bg1;
    border-color: transparent;
    text-color: @fg1;
}

element alternate.normal {
    background-color: @bg1;
    border-color: transparent;
    text-color: @fg1;
}

element selected.normal {
    background-color: @bg1;
    border-color: @yellow;
    text-color: @yellow;
}

element selected.alternate {
    background-color: @bg1;
    border-color: @yellow;
    text-color: @yellow;
}

element-icon {
    size: 130px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    border-radius: 1px;
    cursor: inherit;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    margin: 6px 0 0 0;
    text-color: inherit;
    cursor: inherit;
}
